<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script>
  var socket = io.connect('http://localhost:12001/my-namespace-101');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>