<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
  rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<section class="user-info">
  <div class="col-12">
    <h4>Username : {{username}} </h4>
    <h4>Connected at :
      <script>formatDate()</script>
    </h4>

    <button class="form-control" type="button" id="send_btn" onclick="retriveAll()" style="width:15%; float:left">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      Retrive All </button>

    <button class="form-control" type="button" id="send_btn" onclick="sendMsg()" style="width:15%; float:left"><i
        class="fa fa-paper-plane-o" aria-hidden="true"></i>
      last 50 </button>

    <button class="form-control" type="button" id="send_btn" onclick="sendMsg()" style="width:15%; float:left"><i
        class="fa fa-paper-plane-o" aria-hidden="true"></i>
      next 50 </button>


  </div>
</section>

<section class="msg-display-section">
  <div class="msg-container" style="">
    <div class="msg_history" id="msg_history">
      <div class="col-12 mb-3 pt-0 mt-0">
        <span id="username"></span>
      </div>
      <div class="incoming_msg">
        {{!-- <div class="incoming_msg_img"> <img src="/images/user-profile.png" alt="user_name_here">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>Test which is a new approach to have all solutions... from receivers end</p>
            <span class="time_date"> receiver_end_user_name_here | 11:01 AM | June 9</span>
          </div>
        </div>
      </div>
      <div class="outgoing_msg">
        <div class="sent_msg">
          <p>Test which is a new approach to have all solutions ... A message from the senders end</p>
          <span class="time_date"> 11:01 AM | June 9</span>
        </div>
      </div> --}}
      </div>
    </div>
</section>

<section class="msg-control-section">
  <div class="12" style="bottom:10px; float:left; width:100%; position:fixed">
    <textarea name="msg-box" id="msg-box" class="form-control" style="width:80%; height: 40px; float: left"></textarea>
    {{!-- <input type="msg-box" name="msg-box" id="msg-box" class="form-control" style="width:80%; float: left"> --}}
    <button class="form-control" type="button" id="send_btn" onclick="sendMsg()" style="width:15%; float:left"><i
        class="fa fa-paper-plane-o" aria-hidden="true"></i>
      Send</button>
  </div>
</section>




<script>
  var username = "{{username}}";
  var socket = io.connect('http://localhost:12001/my-namespace');
  //var socket = io.connect('https://chatserver1.awesomeinnovators.com/my-namespace');
  socket.on('send', function (data) {
    //alert(data);
    //console.log(data)
    for(i in data) {
      console.log(data[i])
      displayReceiverText(data[i]);
    }
    
    //socket.emit('my other event', { my: 'data' });
  });
</script>

<script>
  //var btn_submit = document.getElementById('send_btn');
  //11:01 AM | June 9

  /* --------------------------------------------- */
  function retriveAll() {
    socket.emit('retriveall', {
      data: ""
    })
  }
  /* --------------------------------------------- */

  function sendMsg() {
    var input_msg_box = document.getElementById('msg-box');

    if(input_msg_box.value.length > 0) {
      
    //socket.emit('send', "aaa");
    socket.emit('send', {
      data: input_msg_box.value,
      username: username
    });
    displaySenderText(input_msg_box.value);
    input_msg_box.value = "";

    }

  }

  /* Receiver Section Starts Here */

  function displayReceiverText(data) {
    var msg_history_box = document.getElementById('msg_history');
    $(".msg_history").append(
      `<div class="incoming_msg">
            <div class="incoming_msg_img"><img src="/images/user-profile.png" alt="${data.from}">
                <span class="username">${data.from}</span>
                </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>${data.msg}</p>
                    <span class="time_date"> ${formatDate()} </span>
                </div>
            </div>
        </div>`);
  }
  /* --------Receiver Section Ends Here */

  /* Sender Section Starts Here */

  function displaySenderText(msg) {
    var msg_history_box = document.getElementById('msg_history');
    $(".msg_history").append(
      `<div class="outgoing_msg">
            <div class="sent_msg">
                <p>${msg}</p>
                <span class="time_date"> ${formatDate()} </span>
            </div>
        </div>`);
  }

  /* -------Sender Section Ends Here */



  /* Date Section Starts Here */

  function formatDate() {
    const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];
    var d = new Date(Date.now());

    var month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    var str2 = formatAMPM(d) + " | " + monthNames[d.getMonth()] + " " + day
    return str2;
  }

  function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0' + minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
  }

  /* ---------Date Section Starts Here */

</script>