body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.msg-container {
  float: center;
  padding: 30px 15px 0 25px;
  width: 60%;
  margin-left: 20%;
}

.msg_history {
  height: 85vh;
  overflow-y: auto;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 8px;
  margin: 8px 0 0;
  text-align: right;
}

.received_withd_msg {
  width: 57%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}


.username{
  font-size: 10px;
  color: #646464;
  text-align: center;
}

.sent_msg {
  float: right;
  width: 46%;
}


img {
  max-width: 100%;
}